<div class="col-lg-8 col-lg-offset-2">
  <h2>Simple DOI Creator - User Metadata (step 1 of 6)</h2>
  
  <p class="help-block">The fields below have been pre-filled based on content in your user profile.</p>
  
  <p class="help-block">However, you can customize them now if needed.</p>

  <div class="form-group">
    <label class="control-label">Creator (Lastname, Firstname)</label>
    <input class="form-control" type="text" value="Andrews, Meshia" />
  </div>

  <div class="form-group">
    <label class="control-label">College</label>
    <input class="form-control" type="text" value="Education, Criminal Justice, and Human Services" />
  </div>
  
  <div class="form-group">
    <label class="control-label">Department</label>
    <input class="form-control" type="text" value="Information Technology" />
  </div>

  <p>
    <a class="btn btn-primary" href="/simple_doi/new"><< Previous</a>
    <a class="btn btn-primary" href="/simple_doi/type">Next >></a>
  </p>
</div>
