<div class="col-lg-8 col-lg-offset-2">
  <h2>Simple DOI Creator - License</h2>
  
  <p class="help-block">Choose the appropriate type of license for your file(s).</p>

  <p><input type="radio" name="license" /> All rights reserved</p>
  <p><input type="radio" name="license" /> Attribution 4.0 International</p>
  <p><input type="radio" name="license" /> Attribution-ShareAlike 4.0 International</p>
  <p><input type="radio" name="license" /> Attribution-NonCommercial 4.0 International</p>
  <p><input type="radio" name="license" /> Attribution-NoDerivs 4.0 International</p>
  <p><input type="radio" name="license" /> Attribution-NonCommercial-NoDerivs 4.0 International</p>
  <p><input type="radio" name="license" /> Attribution-NonCommercial-ShareAlike 4.0 International</p>
  <p><input type="radio" name="license" /> Public Domain Mark 1.0</p>
  <p><input type="radio" name="license" /> CC0 1.0 Universal</p>
  <p><input type="radio" name="license" /> Open Data Commons Public Domain Dedication and License (PDDL)</p>
  <p><input type="radio" name="license" /> Open Data Commons Attribution License (ODC-By)</p>
  <p><input type="radio" name="license" /> Open Data Commons Open Database License (ODbL)</p>

  <p>
    &nbsp;<br />
    <a class="btn btn-primary" href="/simple_doi/metadata"><< Previous</a>
    <a class="btn btn-primary" href="/simple_doi/visibility">Next >></a>
  </p>
</div>
