<div class="col-lg-8 col-lg-offset-2">
  <h2>Simple DOI Creator - License  (step 4 of 6)</h2>
  
  <p class="help-block">Choose the appropriate type of license for your file(s).</p>

  <p><input type="radio" name="license" /> <strong>All rights reserved</strong> - Indicates that the copyright holder reserves, or holds for their own use, all the rights provided by copyright law under one specific copyright treaty.</p>

  <p><input type="radio" name="license" /> <strong>Attribution 4.0 International</strong> - Gives others maximum freedom to do what they want with your work as long as they provide attribution. </p>
  
  <p><input type="radio" name="license" /> <strong>Attribution-ShareAlike 4.0 International</strong> - Requires others to provide attribution and release all derivative works under this same license.</p>
  
  <p><input type="radio" name="license" /> <strong>Attribution-NonCommercial 4.0 International</strong> - Requires others to provide attribution and bans commercial use.</p>
  
  <p><input type="radio" name="license" /> <strong>Attribution-NoDerivs 4.0 International</strong> - Requires others to provide attribution.  They can re-distribute it but cannot change it.</p>
  
  <p><input type="radio" name="license" /> <strong>Attribution-NonCommercial-NoDerivs 4.0 International</strong> - Requires others to provide attribution.  They cannot change it or use it for commercial purposes.</p>
  
  <p><input type="radio" name="license" /> <strong>Attribution-NonCommercial-ShareAlike 4.0 International</strong> - Requires others to provide attribution, release all derivative works under this same license, and bans commercial use.</p>
  
  <p><input type="radio" name="license" /> <strong>Public Domain Mark 1.0</strong> - Identifies works as being free of known restrictions under copyright law.</p>
  
  <p><input type="radio" name="license" /> <strong>CC0 1.0 Universal</strong> - Places a works as completely as possible in the public domain, so that others may freely build upon, enhance and reuse the works for any purposes without restriction under copyright or database law.</p>
  
  <p><input type="radio" name="license" /> <strong>Open Data Commons Public Domain Dedication and License (PDDL)</strong> - Places the data(base) in the public domain (waiving all rights)</p>
  
  <p><input type="radio" name="license" /> <strong>Open Data Commons Attribution License (ODC-By)</strong> - A license specific to data(bases) used to provide freedom of use while only requiring attribution of the database`</p>
  
  <p><input type="radio" name="license" /> <strong>Open Data Commons Open Database License (ODbL)</strong> - Allows freedom of use while requiring attribution and release of derivatives under the same license.</p>

  <p>
    &nbsp;<br />
    <a class="btn btn-primary" href="/simple_doi/metadata"><< Previous</a>
    <a class="btn btn-primary" href="/simple_doi/visibility">Next >></a>
  </p>
</div>
