<div class="col-lg-8 col-lg-offset-2">
  <h2>Simple DOI Creator - File Metadata (step 3 of 6)</h2>
  
  <p class="help-block">Enter a title, description, and publisher for file(s).</p>
  
  <p class="help-block">If you do not already have a publisher, you can use "University of Cincinnati."</p>

  <div class="form-group">
    <label class="control-label">Title</label>
    <input class="form-control" type="text" placeholder="Enter the title of your work. If it doesn't have a title, please enter a brief descriptive label." />
  </div>
  
  <div class="form-group">
    <label class="control-label">Description</label>
    <textarea class="form-control text required" rows="10" placeholder="Enter a summary of your work. There is no character limit for this field."></textarea>
  </div>

  <div class="form-group">
    <label class="control-label">Publisher</label>
    <input class="form-control" type="text" value="University of Cincinnati" />
  </div>

  <p>
    <a class="btn btn-primary" href="/simple_doi/type"><< Previous</a>
    <a class="btn btn-primary" href="/simple_doi/license">Next >></a>
  </p>
</div>
