<div class="col-lg-8 col-lg-offset-2">
  <h2>Simple DOI Creator</h2>
  
  <p>
    This tool will guide you through the steps of uploading your file(s) to Scholar@UC and then creating a Digital Object Identifier (DOI) for them.
  </p>

  <p>
    A DOI is an easy way for other people to link to and cite your work.
  </p>

  <p>
    Want more information on <abbr title="Digital Object Identifier">DOI</abbr>s?
    Here&rsquo;s a <a href="http://simple.wikipedia.org/wiki/Doi" target="_blank">brief summary</a> and the <a href="http://www.doi.org/faq.html" target="_blank">DOI FAQ</a>.
  </p>
  
  <p>&nbsp;<br /><a class="btn btn-primary" href="/simple_doi/creator">Begin creating DOI</a></p>
</div>
