<div class="col-lg-8 col-lg-offset-2">
  <h2>Simple DOI Creator - Finished</h2>
  
  <p>Your file(s) have been uploaded and a DOI has been generated.</p>

  <h3>Your Digital Object Identifier (DOI)</h3>
  
  <p>
    Identifier (best for use in printed media):<br />
    <strong>doi:10.7945/CN2P4P</strong>
  </p>

  <p>
    Link (best for use in online media like web pages):<br /> 
    <strong>https://doi.org/doi:10.7945/CN2P4P</strong>
  </p>

  <h3>Details</h3>
  <ul>
    <li>Type: Dataset</li>
    <li>Title: UC Campus Wi-Fi Dataset</li>
    <li>Description: Raw dataset of Wi-Fi hotspots on UC campus.</li>
    <li>Publisher: University of Cincinnati</li>
    <li>Creator: Andrews, Meshia</li>
    <li>College: Education, Criminal Justice, and Human Services</li>
    <li>Department: Information Technology</li>
    <li>License: Attribution-NonCommercial 4.0 International</li>
    <li>Visibility: Open Access</li>
    <li>File(s): uc-wifi-hotspots.csv</li>
  </ul>

  <p><a href="#">Click here to make changes or add additional details</a></p>

  <p><a class="btn btn-primary" href="/simple_doi/new">Create another DOI</a></p>
</div>
