<div class="col-lg-8 col-lg-offset-2">
  <h2>Simple DOI Creator - File Type</h2>
  
  <p class="help-block">Select the option below that best matches the type of file(s) you are uploading.</p>

  <p><input type="radio" name="work_type" /> Article (published or unpublished articles)</p>
  <p><input type="radio" name="work_type" /> Dataset (files containing collections of data, including: raw data, spreadsheets, logs, etc.)</p>
  <p><input type="radio" name="work_type" /> Document (text-based works other than articles: books, manuscripts, etc.)</p>
  <p><input type="radio" name="work_type" /> Image (visual content: art, photographs, posters, graphics)</p>
  <p><input type="radio" name="work_type" /> Medium (video, film, slide, or audio are referred to as time-based media)</p>
  <p><input type="radio" name="work_type" /> Student Work (any kind of student work excluding Theses and Dissertations)</p>
  <p><input type="radio" name="work_type" /> Generic Work (any non-text-based document)</p>

  <p>
    &nbsp;<br />
    <a class="btn btn-primary" href="/simple_doi/creator"><< Previous</a>
    <a class="btn btn-primary" href="/simple_doi/metadata">Next >></a>
  </p>
</div>
