<div class="col-lg-8 col-lg-offset-2">
  <h2>Simple DOI Creator - File Upload (step 6 of 6)</h2>
  
  <p class="help-block">Upload your file(s) and agree to the distribution license.</p>
  <p>
    <a class="btn btn-success" href="/simple_doi/uploaded">Click to add files...</a>
  </p>

  <p class="alert alert-success alert-dismissable" role="alert">File uploaded: uc-wifi-hotspots.csv</p>

  <p>
    &nbsp;<br />
    <label>
      <input type="checkbox" />
      I have read and agree to the <a target="_blank" href="/distribution_license_request?locale=en">Distribution License</a>
    </label>
  </p>

  <p>
    &nbsp;<br />
    <a class="btn btn-primary" href="/simple_doi/visibility"><< Previous</a>
    <a class="btn btn-primary" href="/simple_doi/save">Save and create DOI</a>
  </p>
</div>
