<div class="col-lg-8 col-lg-offset-2">
  <h2>Simple DOI Creator - Visibility (step 5 of 6)</h2>
    
  <p class="help-block">Choose a visibility setting for your file(s).</p>

  <p class="help-block">Note: Files must be "Open Access" for DOIs to work properly.</p>

  <p><input type="radio" name="visibility" /> Open Access (Make available to all)</p> 
  <p><input type="radio" name="visibility" /> University of Cincinnati (Restrict access to logged-in users)</p> 
  <p><input type="radio" name="visibility" /> Embargo (Set date for future release)</p> 
  <p><input type="radio" name="visibility" /> Private (Keep to myself with option to share)</p>
    
  <p>
    &nbsp;<br />
    <a class="btn btn-primary" href="/simple_doi/license"><< Previous</a>
    <a class="btn btn-primary" href="/simple_doi/upload">Next >></a>
  </p>
</div>
